body {
  background-color: #543C25;
  font: 12px/1.125 Arial,Helvetica,sans-serif;
}
#container {
  width: 980px;
  margin: 0 auto;
  min-height: 700px;
  background-image: url(../images/bg.gif);
  border: 1px solid #351C00;
}
#sidebar {
  float: left;
  width: 230px;
}
#content {
  float: left;
  width: 735px;
  line-height: 23px;
  font-size: 17px;
  color: white;
  line-height: 30px
}
#content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #FF6;
  line-height: 30px;
  letter-spacing: 2px;
  font-family: "dfkai-sb", "�з���";
}
#content p {
  font-family: "dfkai-sb", "�з���";
  text-indent: 2em;
}
ul#navbar {
  width: 230px;
  margin-top: 45px;
  margin-bottom: 50px;
  line-height: 30px;
}
ul#navbar li {
  font-size: 20px;
  padding: 10px 40px;
}
ul#navbar li:hover {
  background-color: #543C25;
}
ul#navbar li.active {
  background-color: #543C25;
}
ul#navbar li a {
  color: white;
  text-decoration: none;
}
#info, #contact {
  margin: 15px 30px;
}
#contact ul {
  list-style: disc;
  padding: 5px 20px;
  font-family: "dfkai-sb", "�з���";
}
#banner img, #logo img {
  width: 100%;
}
.clear {
  clear: both;
}
.mainb {
  font-family: "dfkai-sb", "�з���";
  font-size: 20px;
  color: #FF6;
  line-height: 30px;
  letter-spacing: 2px;
}

#makeMeScrollable
{
  width:100%;
  height: 200px;
  position: relative;
}
#makeMeScrollable img {
  height: 200px;
}

/* Replace the last selector for the type of element you have in
your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea img
{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  /* If you don't want the images in the scroller to be selectable, try the following
  block of code. It's just a nice feature that prevent the images from
  accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.taxiang {
  margin-bottom: 40px;
}
.taxiang h3 {
  margin: 10px 30px;
}

.taxiang p {
  margin: 5px 20px;
}

.taxiang-process .process-block img {
  width: 320px;
}
.taxiang-process .process-block {
  float: left;
  height: 265px;
  margin: 10px 20px;
}
.taxiang-process .process-block h4 {
  text-align: center;
}

.taxiang-display {
  margin-left: 80px;
}
.taxiang-display img {
  height: 250px;
}

h3.title {
  color: white;
}
h3.title img {
  float: left;
}
h3.title span {
  float: left;
  margin-top: 6px;
  margin-left: 6px;
}

.product02 .process-block img {
  width: 320px;
}
.product02 .process-block {
  float: left;
  height: 365px;
  margin: 10px 20px;
}
.product02 .process-block h4 {
  text-align: center;
  color: #FFB;
  font-size: 20px;
}

.blendent {
  margin-left: 40px;
}

.blendent img.xiang {
  float: left;
  width: 450px;
}

.blendent img.colors {
  float: left;
  width: 200px;
  margin-top: 58px;
}

.product03 .process-block img {
  width: 320px;
}
.product03 .process-block {
  float: left;
  height: 230px;
  margin: 5px 20px;
}
.product03 .process-block h4 {
  text-align: center;
  color: #FFB;
  font-size: 20px;
}
.product03 .process-block.baxiang {
  height: 100%;
}

.products .process-block img {
  width: 320px;
}
.products .process-block {
  float: left;
  height: 240px;
  margin: 5px 20px;
}
.products .process-block.process-center {
  margin: 5px 200px;
}
.products .process-block h4 {
  text-align: center;
  color: #FFB;
  font-size: 20px;
}

.description {
  margin: 0 15px;
}
